body {
    margin: 0;
    padding: 0;
    font-family: CentSchbookBTWGL4WXX-Roman, serif;
    text-align: center;
    line-height: 1.125;
    background-color: gray;
    box-sizing: border-box;
}

#overlay {
    background-image: url("sftl-bg-01.gif");
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    text-align: center;
    position: fixed;
    color: white;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    z-index: 5;
    font-size: 2.5vh;
    mix-blend-mode: exclusion;
    box-sizing: border-box;
    opacity: .9;
}

h1 {
    font-size: 12vh;
    width: 100%;
    line-height: 1;
    margin: 0;
    margin-bottom: -10px;
    margin-top: 15px;
    font-weight: normal;
}

p {
    padding-left: 16%;
    padding-right: 16%;
}

@media screen and (min-width: 1025px) {
    h1 {
        font-size: 12vh;
    }
}

@media screen and (max-width: 1024px) {
    p,
    h1,
    .content {
        font-size: 18px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 2%;
        padding-right: 2%;
    }
}

.content:hover {
    mix-blend-mode: normal;
}

#footer {
    font-size: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    letter-spacing: .015em;
    line-height: 1.2;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    /*    text-decoration: none;*/
    
    color: #f1f1f1;
}

@font-face {
    font-family: CentSchbookBTWGL4WXX-Roman;
    src: url(39EC05_0_0.eot);
    src: url(39EC05_0_0.eot?#iefix) format("embedded-opentype"), url(39EC05_0_0.woff2) format("woff2"), url(39EC05_0_0.woff) format("woff"), url(39EC05_0_0.ttf) format("truetype")
}