/* Style the video: 100% width and height to cover the entire window */

body {
    margin: 0;
    padding: 0;
    font-family: CentSchbookBTWGL4WXX-Roman, serif;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.125;
    background-color: gray;
}

#overlay {
    background-image: url("gifbgtest1.gif");
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    text-align: center;
    position: fixed;
    color: white;
    /*    width: 100%;*/
    
    padding: 15px;
    z-index: 5;
    font-size: 3vh;
    mix-blend-mode: exclusion;
}

.content:hover {
    mix-blend-mode: normal;
}

#footer {
    font-size: 40%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    letter-spacing: .015em;
    line-height: 1.2;
    text-align: center;
    padding: 20px;
}

a {
    /*    text-decoration: none;*/
    
    color: #f1f1f1;
}

@font-face {
    font-family: CentSchbookBTWGL4WXX-Roman;
    src: url(39EC05_0_0.eot);
    src: url(39EC05_0_0.eot?#iefix) format("embedded-opentype"), url(39EC05_0_0.woff2) format("woff2"), url(39EC05_0_0.woff) format("woff"), url(39EC05_0_0.ttf) format("truetype")
}